@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Concessionária</h1>
    <p>Projeto AV1 sobre Concessionária para a matéria Desenvolvimento de Sistemas WEB com .Net</p>
</div>
